<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    {% if site.enforce_ssl %}
        <!--
            redirect users to the https version of the website.
            but: only check when on the production domain, as set in _config.yml.
        -->
        <script type="text/javascript">
            if (("{{ site.enforce_ssl }}" == window.location.host) && (window.location.protocol != "https:"))
                window.location = window.location.toString().replace(/^http:/, "https:");
        </script>
    {% endif %}

  <title>
    {% if page.title %}
      {{ page.title }} &middot; {{ site.title }}
    {% else %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/public/css/poole.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/public/css/hyde.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/public/css/rjow.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
  <link rel="stylesheet" href="{{ "/public/css/common.css" | prepend: site.baseurl }}">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "/public/apple-touch-icon-144-precomposed.png" | prepend: site.baseurl }}">
                                 <link rel="shortcut icon" href="{{ "/public/favicon.ico" | prepend: site.baseurl }}">


    <!-- AddThis -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{ site.addthis_profile_id }}" async="async"></script>
    <script type="text/javascript">
        var addthis_share = {
            url: "{{ page.url | prepend: site.baseurl | replace: '//', '/' | prepend: site.url }}",
            title: document.title,
            description: "{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncatewords: 55 }}{% else %}{{ site.description }}{% endif %}"
        };
    </script>

    <!-- Google AdSense -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <!-- Common -->
    <script src="{{ "/public/js/common.js" | prepend: site.baseurl }}"></script>
</head>
